/* 

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px


--- 02 COLORS

- Primary: #e5e4e2
- Tints: 
#bbbab8 
#929290
#878787 
#6c6b6a 
#474747 
#262626 
#000000

- Shades: 


-- Accents: 
- Red
#c92a2a (more darker)
#d41c1c

- Blue
#1F3A93 (darker)
#37b0e9 (lighter)
#007bff (shinny)

- Green
#00ff00

- Greys

#888
#767676 (lightest grey allowed on #fff)
#6F6F6F (lightest grey allowed on #fdf2e9)
#555
#333

- White
#ffffff

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  font-size: 62.5%;
}

body {
  font-family: "inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #bbbab8;
  background-color: #000000;
}

/****************************/
/* REUSABLE COMPONENT SECTION */
/****************************/

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.title {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4.8rem;
}

.paragraph-text {
  font-size: 1.8rem;
  line-height: 1.6;
  text-indent: 5rem;
  color: #e5e4e2;
  font-weight: 400;

  -moz-hyphens: auto;
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.paragraph-text--bold {
  font-weight: 600;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  font-family: "Inter", sans-serif;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 1rem 1.6rem;
  border-radius: 2px;
  background-image: linear-gradient(to top left, #474747, #262626);
  color: #e5e4e2;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover,
.btn:active {
  background-image: linear-gradient(to top left, #474747, #262626);
  transform: scale(1.05);
}

.btn--option:link,
.btn--option:visited {
  text-decoration: none;
  font-size: 1.8rem;
  padding: 1rem 1.6rem;
  border-radius: 2px;
  color: #e5e4e2;
  background-image: linear-gradient(to top left, #000, #262626);
  cursor: pointer;
  transition: all 0.3s;
}

.btn--option:hover,
.btn--option:active {
  color: #37b0e9;
  transform: scale(1.05);
}

.option-container-btn {
  display: flex;
  flex-direction: column;
}

.btn--options {
  border: 0;
  margin-bottom: 2rem;
}

.container-options {
  display: grid;
  /* flex-direction: column; */
  grid-template-columns: repeat(2, 1fr);
  /* grid-template-rows: auto; */
  row-gap: 1rem;
  /* height: 13.4rem; */
  transition: all 0.5s ease-in-out;

  /* Hide it visually */
  opacity: 0;

  /* Make it unaccessible to mouse and keyboard */
  pointer-events: none;

  /* Hide it from screen readers */
  visibility: hidden;
}

.stream-options--active {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.btn--options-container {
  display: flex;
  column-gap: 2rem;
  align-items: center;
  justify-content: center;
}

.container-option {
  display: flex;
  column-gap: 1rem;
  align-items: center;
}

.name-option-btn {
  font-size: 1rem;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}

.icon,
.icon:link,
.icon:visited {
  color: #e5e4e2;
  transition: all 0.3s;
}

.icon:hover,
.icon:active {
  color: #1f3a93;
  transform: scale(1.2);
}

.icon--success {
  color: #00ff00;
  width: 5rem;
  height: 5rem;
}
