/* 

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px


--- 02 COLORS

- Primary: #e5e4e2
- Tints: 
#bbbab8 
#929290
#878787 
#6c6b6a 
#474747 
#262626 
#000000

- Shades: 


- Accents: 
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6F6F6F (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

.section {
  /* padding: 0 9.6rem; */
  /* top / horizontal / bottom */
  padding: 4.8rem 0 12.8rem;
  min-height: 100vh;
  /* margin: 6.4rem 0; */
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;
}

.primaryTitle {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 4.8rem;
}

.ctaBox {
}

.textBox {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: 0.5fr 1fr 0.5fr;
  gap: 4.8rem;
  padding: 1.6rem;
  justify-items: center;
}

.secondaryTitle {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 1.2;
  /* text-transform: uppercase; */
  letter-spacing: -1.5px;
}

.ctaText {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 4.8rem;
}

.form {
  grid-column: 2 / 3;
  justify-self: stretch;
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 3.2rem;
  row-gap: 2.4rem;
  align-items: center;
  justify-content: center;
}

.form label {
  display: block;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
  text-align: center;
}

.form input,
.form select {
  width: 100%;
  padding: 1.2rem;
  font-size: 2.4rem;
  font-family: inherit;
  color: #262626;
  border: none;
  background-color: #e5e4e2;
  border-radius: 2px;
  box-shadow: 0 0.3rem 1rem rgba(255, 255, 255, 0.6);
}

.form input::placeholder {
  color: #bbbab8;
}

.btnForm,
.btnForm:link,
.btnForm:visited {
  display: inline-block;

  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 2px;

  /* Only necessary for .btn */
  border: none;
  cursor: pointer;
  font-family: inherit;

  /* Put transition on original "state" */
  /* transition: background-color 0.3s; */
  transition: all 0.3s;

  background-image: linear-gradient(to top left, #bbbab8, #878787);
}

.btnForm:hover,
.btnForm:active {
  background-image: linear-gradient(to top left, #c92a2a, #6c6b6a);
  color: #262626;
}

.ctaBox *:focus {
  outline: none;
  box-shadow: 0 0 0 0.3rem rgba(253, 242, 233, 0.5);
}
