/* 

--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6
Large: 1.8

- Letter spacing
-0.5px
0.75px


--- 02 COLORS

- Primary: #e5e4e2
- Tints: 
#bbbab8 
#929290 
#6c6b6a 
#474747 
#262626 
#000000

- Shades: 


- Accents: 
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6F6F6F (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

--- 06 BORDER-RADIUS

--- 07 WHITESPACE

- SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128


*/

.header {
  display: flex;
  align-items: center;
  justify-content: end;

  /* Because we want header to be sticky later */
  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: #bbbab8;
  font-size: 1.8rem;
  font-weight: 500;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #929290;
}

/* .link.cta:link,
.link.cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 2px;
  color: #262626;
  background-color: #929290;
}

.link.cta:hover,
.link.cta:active {
  color: #929290;
  background-color: #6c6b6a;
} */
